@import "../colors/colors.scss";

$background: $primary-2b;
$color: white;
$hover: $primary;
$width-icon-and-logo: 7vw;

header {
    // disable on mobile
    @media only screen and (hover: none) and (pointer: coarse) {
        display: none;
    }
    box-shadow: 0px 0px 10px black;
    position: sticky;
    z-index: 99999;
    top: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    color: $color;
    padding: 0;
    margin: 0;
    .logo {
        width: $width-icon-and-logo;
        display: flex;
        img {
            box-sizing: border-box;
        }
        transition: ease-in-out 0.15s;
        :hover {
            cursor: pointer;
            filter: brightness(0.6);
            transition: ease-in-out 0.15s;
        }
    }
    .navbar {
        width: 50%;
        margin: 0;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        li {
            h1{
                @media screen and (max-width: 768px){
                    font-size: 0.6rem;
                }
                @media screen and (min-width: 768px){
                    font-size: 1rem;
                }
                @media screen and (min-width: 1180px){
                    font-size: 1.5rem;
                }
            }
            a{
                color: $color;
                text-decoration: none;
            }
            a:hover {
                cursor: pointer;
                color: $hover;
                transition: ease-in-out 0.15s;
            }
            display: inline-flex;
            list-style-type: none;
            margin-left: 2rem;
            margin-right: 2rem;
            padding-bottom: 15px;
            padding-top: 15px;
            transition: ease-in-out 0.15s;
        }
    }
    .icons {
        width: $width-icon-and-logo;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 1.5rem;
        img,
        button {
            color: $color;
        }
        img {
            width: 2.5vw;
        }
        button {
            background: transparent;
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px;
            font-size: 1.5rem;
            transition: ease 0.15s;
            a {
                border: 0;
                background: transparent;
                text-decoration: none;
                color: $primary-2;
            }
            &:hover {
                color: black;
                cursor: pointer;
                background-color: $primary-1b;
                transition: ease-in-out 0.15s;
                box-shadow: 0px 0px 20px $primary;
            }
        }
    }
    .icon {
        &:hover {
            cursor: pointer;
            filter: invert(40%) sepia(45%) saturate(1502%) hue-rotate(292deg) brightness(95%) contrast(94%);
        }
        transition: ease-in-out 0.15s;
    }
}

header + * {
    margin-top: 2vh;
}
