header {
  box-shadow: 0px 0px 10px black;
  position: sticky;
  z-index: 99999;
  top: 0;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c030e;
  color: white;
  padding: 0;
  margin: 0;
}
@media only screen and (hover: none) and (pointer: coarse) {
  header {
    display: none;
  }
}
header .logo {
  width: 7vw;
  display: flex;
  transition: ease-in-out 0.15s;
}
header .logo img {
  box-sizing: border-box;
}
header .logo :hover {
  cursor: pointer;
  filter: brightness(0.6);
  transition: ease-in-out 0.15s;
}
header .navbar {
  width: 50%;
  margin: 0;
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
header .navbar li {
  display: inline-flex;
  list-style-type: none;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: ease-in-out 0.15s;
}
header .navbar li .active {
  filter: brightness(0.7);
}
@media screen and (max-width: 768px) {
  header .navbar li h1 {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  header .navbar li h1 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1180px) {
  header .navbar li h1 {
    font-size: 1.5rem;
  }
}
header .navbar li a {
  color: white;
  text-decoration: none;
}
header .navbar li a:hover {
  cursor: pointer;
  color: #EB4791;
  transition: ease-in-out 0.15s;
}
header .icons {
  width: 7vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
}
header .icons img,
header .icons button {
  color: white;
}
header .icons img {
  width: 2.5vw;
}
header .icons button {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  transition: ease 0.15s;
}
header .icons button a {
  border: 0;
  background: transparent;
  text-decoration: none;
  color: #FEF6FA;
}
header .icons button:hover {
  color: black;
  cursor: pointer;
  background-color: #6e0c38;
  transition: ease-in-out 0.15s;
  box-shadow: 0px 0px 20px #EB4791;
}
header .icon {
  transition: ease-in-out 0.15s;
}
header .icon:hover {
  cursor: pointer;
  filter: invert(40%) sepia(45%) saturate(1502%) hue-rotate(292deg) brightness(95%) contrast(94%);
}

header + * {
  margin-top: 2vh;
}