@import "../colors/colors.scss";

@font-face {
    font-family: "Lena";
    src:
        local("Lena2"),
        url("../fonts/lena/LenaAccents.woff") format("woff");
        unicode-range: U+00E9,U+00C9,U+00C8,U+00E8,U+00E0,U+00C0
}


@font-face {
    font-family: "Lena";
    src:
        local("Lena"),
        url("../fonts/lena/Lena.woff") format("woff");
}

@font-face {
    font-family: "Sloth";
    src:
        local("Sloth"),
        url("../fonts/Sloth/Sloth-Regular.woff") format("woff");
}



body {
    background-color: #fef6fa;
    margin: 0;
    padding: 0;
    font-family: "Sloth", sans-serif;
    overflow: overlay;
}

h1,
h2,
h3,
h4,
button {
    font-weight: normal;
    font-family: "Lena", sans-serif;
    font-size: 2rem;
}

textarea,
::placeholder,
input,
select,
option,
label {
    font-family: "Sloth", sans-serif;
    font-size: 1rem;
}

hr {
    border: 0;
    height: 1px;
    background: $primary-1b;
    opacity: 0.2;
    margin: 1rem;
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: $primary-1;
    border-radius: 9px;
}

.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}

.back {
    margin-left: 2rem;

    a {
        padding: 1rem;
        text-decoration: none;
        color: $primary-2b;
        font-size: 1.4rem;
        transition: ease-in-out 0.2s;
    }

    .arrow {
        width: 0.7rem;
        height: 0.7rem;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        transition: ease-in-out 0.2s;
    }

    .left {
        transform: rotate(135deg);
    }

    &:hover {
        a {
            color: $primary-1b;
        }
        .arrow {
            border-color: $primary-1b;
            transform: rotate(135+360deg);
            transition: ease-in-out 0.5s;
        }
    }
}

.error {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1rem;
    background-color: rgb(255, 172, 172);
    border: 1px solid darkred;
    border-radius: 15px;
    
    p {
        img {
            filter: brightness(0) saturate(100%) invert(12%) sepia(67%) saturate(4099%) hue-rotate(354deg) brightness(93%) contrast(120%);
            margin-bottom: -5px;
        }
        margin-left: 1rem;
        color: darkred;
    }
}

.success {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1rem;
    background-color: rgb(172, 255, 172);
    border: 1px solid darkgreen;
    border-radius: 15px;
    
    p {
        img {
            filter: brightness(0) saturate(100%) invert(20%) sepia(84%) saturate(1683%) hue-rotate(99deg) brightness(97%) contrast(106%);
            margin-bottom: -5px;
        }
        margin-left: 1rem;
        color: darkgreen;
    }
}

.add-ticket {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
}
