#admin{
    display: flex;

}



#menu{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid black;
}

#menu .option{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 90%;

    border-radius: 8px;
    border: 1px solid black;

    margin: 10px 0px;

    background-color: #FCF6FE;
}



.contenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95%;
    height: 80%;

    margin: 0px;
    padding: 0px;

    border-radius: 16px;
    border: 1px solid black;
}

.details-choix{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 90%;

    border-radius: 8px;
    border: 1px solid black;

    margin: 10px 0px;

    background-color: #FCF6FE;
}

#modifications{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #C7F9E5;
    border: 1px solid black;
    border-radius: 16px;

    width: 95%;
    height: 18%;


}

.champ{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 80%;
    height: 30%;
    background-color: #F9C8DE;
    padding: 20px;
    margin: 20px;
}

#delete{
    border: 1px solid black;
    border-radius: 8px;
    width: 10%;

    padding: 10px;
}

#validate{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    height: 45%;

    border: 1px solid black;
    border-radius: 8px;

    background-color: #46EBA8;

    color: black;

    margin: 20px;
}
