:root{
    --gradient: linear-gradient(to right, #EB479188, #C246EBAA);
}
/*#33242B, #2F2433*/
@keyframes bg-button {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
#div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 20px;
    margin: 0;
    box-sizing: border-box ;
    width: 100%;
    height: 200px;

    background-image: var(--gradient);
    background-size: 500%;
    background-position: left;

    animation: bg-button 10s infinite alternate;
    transition: ease-in-out 0.5s;

    color: #EB4791;
}

#video-accueil{
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#video{
    height: 450px;
    width: 900px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
#play-video{
    border-radius: 20px;
    background-color: red;
    border: 0;
    font-size: 4rem;
    color: white;
    padding: 10px 60px;
}

#button-creer{
    margin: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #33242B;
    color: #EB4791;
    font-size : 2rem;
    padding: 20px 50px 20px 50px;

    transition: ease 0.2s;
}
#button-creer:hover {
    cursor: pointer;
    background-color: #2F2433;
    color: #C246EB;
    box-shadow: 0px 0px 30px #C246EB;
}

#mes-tickets{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FCF6FE;
}
.tickets{
    background: no-repeat center url("/maquette/assets/SVG/Fichier25.svg");
    box-shadow: 0px 0px 30px #C246EB77;
    border-radius: 32px;
    height: 500px;
    padding: 10px;
    margin: 20px ;
    background-color: #FEF6FA;
    border: 1px solid black;
    overflow-x: scroll;
    float: none;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: block;
}
.ticket{
    width: 30%;
    height: 90%;
    margin: 18px 30px;
    padding: 0px 30px;
    background-color: #A15CB8FA;
    border: 1px solid black;
    border-radius: 16px;
    display: inline-block;
    zoom: 1;
}
#titre-tickets{
    font-size: 2rem;
    margin: 0px;
}
#titre-tickets a{
    text-decoration: none;
    text-decoration: underline;
    color: #EB4791;
}

/*vvvvvv Questions Frequentes vvvvvv*/

.questions{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 10px 50px;
    height: auto;
    border-radius: 24px;
    background-color: #FCF6FE55;
}
.question{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px 0px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(to right, #F9C8DE, #EDC7F9);
    border-radius: 16px;
    border: 1px solid white;
}
.question:hover{
    cursor: pointer;
    border: 1px solid black;
}
.titre-question::after {
    content: '';
    width: 18px;
    height: 10px;
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
}

/*vvvvvv Tableau de bord vvvvvv*/

/*REPREND LES TICKETS DES QUESTIONS FREQUENTES*/

.nav-tableau{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    background: transparent;

}
.nav-tableau ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: -30px;

}
.nav-tableau ul a{
    text-decoration: none;
    color: black;

    padding: 0px 40px;

    border-radius: 16px;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-button 12s infinite alternate;
    transition: 0.1s ease-in-out;
}
.nav-tableau li{
    display: inline;
    list-style: none;
}
.nav-tableau ul a:hover{
    cursor: pointer;
    background-color: #C246EBAA;
    transform: translate(0px, -5px);
}
.tab-section{
    margin-top: 100px; /*ANCRAGE NON COLLE AU HAUT DE LA FENETRE*/
    padding-top: 100px;
    padding-left: 125px;
    padding-right: 125px;
}
#history{
    margin-top: 0;
}
.tab-section h2{
    margin-left: 100px;
    font-size: 2rem;
}
#body-tab-de-bord{
    padding-bottom: 100px;
}