@import "../colors/colors.scss";

.btn {
    &-primary {
        @extend .btn;
        background-color: $primary-1;
        color: $primary-1b;
        &:hover {
            background-color: $primary-1b;
            color: $primary-1;
        }
    }
    &-secondary {
        @extend .btn;
        background-color: $secondary-1;
        color: $secondary-1b;
        &:hover {
            background-color: $secondary-1b;
            color: $secondary-1;
        }
    }
    &-tertiary {
        @extend .btn;
        background-color: $tertiary-1;
        color: $tertiary-1b;
        &:hover {
            background-color: $tertiary-1b;
            color: $tertiary-1;
        }
    }
    &-icon {
        @extend .btn-primary;
        .add-icon {
            filter: brightness(0) saturate(100%) invert(11%) sepia(32%) saturate(7289%) hue-rotate(317deg)
                brightness(88%) contrast(100%);
        }
        &:hover {
            .add-icon {
                filter: brightness(0) saturate(100%) invert(72%) sepia(3%) saturate(1571%) hue-rotate(285deg)
                    brightness(112%) contrast(109%);
            }
        }

        padding: 1rem 1rem 0.5rem;
    }
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    &:hover {
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }
    &:active {
        transform: scale(0.5);
        transition: ease-in-out 0.4s;
    }
}
