@import '../colors/colors.scss';
.footer{
    color: $primary-2;
    background-color: $primary-2b;
    position: sticky;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
}