@font-face {
  font-family: "Lena";
  src: local("Lena"), url("./global/fonts/lena/Lena.woff") format("woff");
}
@font-face {
  font-family: "Sloth";
  src: local("Sloth"), url("./global/fonts/Sloth/Sloth-Regular.woff") format("woff");
}
pre {
  font-family: "Sloth", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}
h2{
  margin-left: 2rem;
}