@import 'global/colors/colors.scss';
.btns {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.gestion-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    button.create-user {
        margin: 20px;
        font-size: 1.5rem;
    }
    .user {
        margin: 20px;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 3rem;
        &-main {
            &-name, &-role, &-actions {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-name {
                font-size: 1.5rem;
                font-weight: bold;
                
            }
            &-role {
                font-size: 1rem;
                font-weight: bold;
                color: $secondary-1b;

            }
            &-actions {
                margin-top: 1rem;
                button {
                    margin: 0.5rem;
                    font-size: 1rem;
                }
            }
            

        }
    }
}

.update-user {
    &-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &-form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        border: 1px solid black;
        border-radius: 24px;
        input {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        label{
            margin-left: 30px;
            margin-right: 30px;
        }
        select {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        &-actions{
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

.create-user {
    &-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &-form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        border: 1px solid black;
        border-radius: 24px;
        input {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        label{
            margin-left: 30px;
            margin-right: 30px;
        }
        select {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        &-actions{
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

.gestion-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    button.create-label {
        margin: 20px;
        font-size: 1.5rem;
    }
    .label {
        margin: 20px;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 3rem;
        &-main {
            &-name, &-actions, &-color {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-name {
                font-size: 1.5rem;
                font-weight: bold;
                
            }
            &-color {
                ::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 1rem;
                }
            }
            &-actions {
                margin-top: 1rem;
                button {
                    margin: 0.5rem;
                    font-size: 1rem;
                }
            }
            

        }
    }
}

.update-labels {
    &-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &-form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        border: 1px solid black;
        border-radius: 24px;
        input {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        label{
            margin-left: 30px;
            margin-right: 30px;
        }
        select {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        &-actions{
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

.create-labels {
    &-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &-form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        border: 1px solid black;
        border-radius: 24px;
        input {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        label{
            margin-left: 30px;
            margin-right: 30px;
        }
        select {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        &-actions{
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

.gestion-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    button.create-category {
        margin: 20px;
        font-size: 1.5rem;
    }
    .category {
        margin: 20px;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 3rem;
        &-main {
            &-name, &-actions, &-color {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-name {
                font-size: 1.5rem;
                font-weight: bold;
                
            }
            &-color {
                ::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 1rem;
                }
            }
            &-actions {
                margin-top: 1rem;
                button {
                    margin: 0.5rem;
                    font-size: 1rem;
                }
            }
            

        }
    }
}

.update-categories {
    &-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &-form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        border: 1px solid black;
        border-radius: 24px;
        input {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        label{
            margin-left: 30px;
            margin-right: 30px;
        }
        select {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        &-actions{
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

.create-categories {
    &-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &-form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        border: 1px solid black;
        border-radius: 24px;
        input {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        label{
            margin-left: 30px;
            margin-right: 30px;
        }
        select {
            padding-left: 1rem;
            width: 80%;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display :block;
            margin: 20px;
            &::placeholder{
                opacity: 0.5;
            }
        }
        &-actions{
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}