.contact {
  padding: 20px;
  margin: 20px 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact a {
  color: #031c12;
  text-decoration: #031c12 underline;
  transition: ease-in-out 0.1s;
}
.contact a:hover {
  font-weight: bolder;
  color: #6e0c38;
  text-decoration: #031c12 underline;
}