@import "global/colors/colors.scss";

$date-color: #696969;
$label-red: #e74c3c;
$label-green: #2ecc71;
$label-yellow: #f1c40f;
$label-blue: #3498db;
$label-purple: #9b59b6;
$label-orange: #f39c12;

.btns-selec {
    display: flex;
    justify-content: space-evenly;
}

.ticket {
    &-main {
        background-color: $primary-2;
        padding: 10px;
        margin: 50px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        position: relative;
        &-title {
            font-size: 30px;
            margin-top: 40px;
            font-weight: bold;
            a {
                color: black;
                text-decoration: none;
                transition: ease-in-out 0.2s;
                &:hover {
                    color: $primary-1b;
                }
            }
        }
        &-author {
            font-size: 25px;
        }

        &-date {
            position: absolute;
            right: 10px;
            bottom: 10px;

            font-size: 12px;
            color: $date-color;
        }
        &-status {
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            color: $primary-2b;
            font-size: 12px;
            &.open {
                background-color: $label-orange;
            }
            &.closed {
                background-color: $label-red;
            }
        }
        &-labels {
            position: absolute;
            left: 10px;
            top: 10px;
            span {
                padding: 5px 10px;
                border-radius: 5px;
                margin-right: 5px;
                font-size: 12px;
                background-color: $label-blue;
                color: $primary-2b;
                &.ticket-category {
                    &.bug {
                        background-color: $label-red;
                    }
                    &.feature {
                        background-color: $label-green;
                    }
                    &.update {
                        background-color: $label-yellow;
                    }
                    &.other {
                        background-color: $label-purple;
                    }
                }
                &.ticket-priority {
                    &.low {
                        background-color: $label-green;
                    }
                    &.medium {
                        background-color: $label-yellow;
                    }
                    &.high {
                        background-color: $label-red;
                    }
                }
                &.ticket-problem {
                    background-color: $label-blue;
                }
            }
        }
        &-message {
            margin-top: 10px;
            font-size: 14px;
        }
        &-actions {
            margin-top: 10px;
            button {
                font-size: 12px;
            }
        }
    }
    &-comments {
        margin-top: -20px;
        .comment {
            background-color: $primary-2;
            padding: 10px;
            margin: 0px 100px 30px 100px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            position: relative;

            &-title {
                font-size: 30px;
                font-weight: bold;
            }

            &-author {
                font-size: 20px;
            }
            &-date {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-size: 12px;
                color: $date-color;
            }
            &-message {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
    &-icon {
        &-comments {
            position: absolute;
            bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 50%;
            right: 50%;
            #icon-click {
                display: flex;
                align-content: center;
                &:hover {
                    cursor: pointer;
                    img {
                        filter: brightness(0) saturate(100%) invert(9%) sepia(50%) saturate(5616%) hue-rotate(319deg)
                            brightness(90%) contrast(98%);
                    }
                }
            }
            img {
                width: 15px;
                filter: brightness(0) saturate(100%) invert(53%) sepia(67%) saturate(5140%) hue-rotate(307deg)
                    brightness(96%) contrast(91%);
                transition: ease-in-out 0.3s;
            }
            span {
                margin: 2px;
                font-size: 12px;
                color: $date-color;
            }
        }
    }
}

.no-tickets {
    height: 60vh;
    align-content: center;
    p {
        font-size: 30px;
        color: $primary-2b;
    }
    .center {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

:modal {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-2;
    form {
        display: flex;
        flex-direction: column;
        width: 30vw;
        h1,
        p {
            margin-left: 30px;
        }
        input {
            padding-left: 1rem;
            border-radius: 30px;
            height: 30px;
            border: 1px solid black;
            display: block;
            margin-left: 20px;
            margin-right: 20px;
            &::placeholder {
                opacity: 0.5;
            }
        }
        label {
            // margin: 30px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        textarea {
            padding: 1rem;
            border-radius: 30px;
            border: 1px solid black;
            display: block;
            margin-left: 20px;
            margin-right: 20px;
            resize: vertical;
            min-height: 100px;
            &::placeholder {
                opacity: 0.5;
            }
        }
        .required {
            color: rgb(160, 0, 0);
        }
        .btn-center {
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                font-size: 1rem;
            }
        }
        .modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.5rem;
            color: $primary-2b;
            transition: 0.1s;
            &:hover {
                cursor: pointer;
                filter: brightness(0) saturate(100%) invert(72%) sepia(3%) saturate(1571%) hue-rotate(285deg)
                    brightness(112%) contrast(109%);
            }
            filter: brightness(0) saturate(100%) invert(11%) sepia(32%) saturate(7289%) hue-rotate(317deg)
                brightness(88%) contrast(100%);
        }
    }
}
