.content {
  padding: 10px;
  width: 95%;
  margin: 10px auto;
  text-align: justify;
  text-justify: auto;
}
.content p {
  font-size: 1.2rem;
}
.content p br {
  content: "A" !important;
  display: block !important;
  margin-bottom: 1.5em !important;
}