.footer {
  color: #FEF6FA;
  background-color: #1c030e;
  position: sticky;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer-content {
  display: grid;
  justify-content: space-evenly;
  text-align: center;
}
.footer-content * {
  margin: 5px;
}
.footer-content a {
  flex-basis: 100%;
  color: #FEF6FA;
  text-decoration: none;
}
.footer-content a:hover {
  color: #F9C8DE;
}