@import '../colors/colors.scss';
.footer{
    color: $primary-1;
    background-color: $primary-2b;
    position: sticky;
    bottom: 0;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    .contents{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .content{
            padding: 20px;
            text-align: center;
            font-size: 13px;
            a {
                margin-inline: 10px;
                flex-basis: 100%;
                color: $primary-1;
                text-decoration: none;
                &:hover {
                    color: $primary-1;
                }
            }
        }
    }
    hr {
        margin-top:0;
        margin-bottom: 0;
        margin-inline: 10%;
    }
    .copy{
        font-size: 13px;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
}