.footer {
  color: #F9C8DE;
  background-color: #1c030e;
  position: sticky;
  bottom: 0;
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
}
.footer .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .contents .content {
  padding: 20px;
  text-align: center;
  font-size: 13px;
}
.footer .contents .content a {
  margin-inline: 10px;
  flex-basis: 100%;
  color: #F9C8DE;
  text-decoration: none;
}
.footer .contents .content a:hover {
  color: #F9C8DE;
}
.footer hr {
  margin-top: 0;
  margin-bottom: 0;
  margin-inline: 10%;
}
.footer .copy {
  font-size: 13px;
  display: flex;
  justify-content: center;
  padding: 10px;
}