@font-face {
    font-family: "Lena";
    src: local("Lena"), url("./fonts/lena/Lena.woff") format("woff");
}

@font-face {
    font-family: "Sloth";
    src: local("Sloth"), url("./fonts/Sloth/Sloth-Regular.woff") format("woff");
}

body{
    background-color: #FEF6FA;
    margin: 0;
    padding: 0;
    font-family: "Sloth", sans-serif;
}

footer{
    color: white;
}

h1, h2, h3, h4, button{
    font-family: "Lena", sans-serif;
}

html{
    scroll-behavior: smooth;
}
