$dark-mode: 1;

$primary: #EB4791;
$primary-1: #F9C8DE;
$primary-2: #FEF6FA;
$primary-1b: #6e0c38;
$primary-2b: #1c030e;

$secondary: #C246EB;
$secondary-1: #EDC7F9;
$secondary-2: #FCF6FE;
$secondary-1b: #560c6e;
$secondary-2b: #15031c;

$tertiary: #46EBA8;
$tertiary-1: #C7F9E5;
$tertiary-2: #F6FEFB;
$tertiary-1b: #0c6e46;
$tertiary-2b: #031c12;


// $tertiary: #EB4791;
// $tertiary-1: #F9C8DE;
// $tertiary-2: #FEF6FA;
// $tertiary-1b: #6e0c38;
// $tertiary-2b: #1c030e;

// $secondary: #C246EB;
// $secondary-1: #EDC7F9;
// $secondary-2: #FCF6FE;
// $secondary-1b: #560c6e;
// $secondary-2b: #15031c;

// $primary: #46EBA8;
// $primary-1: #C7F9E5;
// $primary-2: #F6FEFB;
// $primary-1b: #0c6e46;
// $primary-2b: #031c12;


